.rain{
  background-color: $background-color;
  background-image: url('../img/rainy.webp');
}

.thunder{
  background-color: $background-color;
  background-image: url('../img/lighting-bolts.jpg');
}
.moon{
  background-color: $background-color;
  background-image: url('../img/moon.avif');
}
.sunny{
  background-color: $background-color;
  background-image: url('../img/sunny.jpg');
}